body{
	background-color: #0079bf;
	box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
/* Clases Reutilizables */
h2{
	display: inline-block;
	margin: 0 10px 0 0;
	color: white;
}
.left{
	float: left;
}
.rigth{
	float: right;
}
.icon-user {
    background: rgba(255,255,255,.3);
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
	padding: 3px 7px;
	border-radius: 8px;
    margin-left: 5px;
}
.white{
	color: white;
}
/* Header */
header{
	background-color: #0167a2;
	padding: 3px;
	width: 100%;
	height: 40px;
	
}
 div{
	display:inline-block;
}
.board {
    background: rgba(255,255,255,.3);
    border-radius: 3px;
    color: #f3f3f3;
    line-height: 30px;
	margin-right: 8px;
	padding: 0px 6px;
}
.header-search {
	background: rgba(255,255,255,.3);
	border-radius: 3px;	
	padding: 0px 6px;	
	line-height: 30px;
	width: 185px;
	height: 28px;
}
i.fa.fa-search {
    padding-top: 5px;
}
.logo img{
	width: 80px;
	height: 30px;
	position: absolute;
	left: 595px;
	top: 0px;
	cursor: pointer;
}
img:hover {
    opacity: .3;
}
.header_user.rigth {
    position: absolute;
    right: 72px;
}
.userCircle img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 30px;
}
/* Seccion Options Trello */
.icon-tablero {
    color: #f6f6f6;
    cursor: default;
    line-height: 30px;
    padding-left: 30px;
    position: relative;
}
.tittle-tablero{
    position: absolute;
    left: 10px;
    top: 50px;
}

.star {
    position: absolute;
	left: 250px;
    top: 50px;
}
.lock {
    position: absolute;
    left: 290px;
    top: 50px;
}
span {
	margin-left: 10px;
	font-size: 14px;
}
.menu.rigth {
	cursor: pointer;
	margin-right: 20px;
}
/* Seccion Tarjetas */
#contenedor{
	margin: 0 10px;
	padding-top: 80px;
	white-space: nowrap;
}

.card{
	background-color: #E2E4E6;
	padding: 18px;
	border-radius: 5px;
	width: 220px;
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
#button_tarjeta{
	background-color:#006aa8;
	color: #c7dfec;
	border: 0;
	padding: 12px;
	border-radius: 5px;
	width: 250px;
	text-align: left;
	float: left;
	margin-right: 20px;
}
#btn:hover{
	background-color: #59F859;
	cursor: pointer;
}

.inputcard{
	
	display:block;
	height: 35px;
	border-radius: 5px;
	border: 0;
	width: 90%;
	padding: 0 10px;
}
 .btnAnadir, #btnGuardar{
	background: #5AAC44;
    box-shadow: 0 1px 0 #519839;
    color: #fff;	
	border-radius: 5px;
	margin-top: 10px;
	padding: 8px 10px;
	cursor: pointer;
}

.title{
    font-family: sans-serif;
    font-size: 14px;
    color: black;
	padding-bottom:20px;
	font-weight: bold;
	float: left;
}
.add_card{
    cursor: pointer;
    color:#90989d;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    float: left;
    margin-left: -22px;
}

